
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}
/* --------------------common css-------------------- */
p{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
button{
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: white;
    font-size: 20px;
    padding: 15px 28px;
    cursor: pointer;
    transition: all 3s;
}
button:hover{
    background: #fa5102;
}
.section-heading{
    max-width: 500px;
    text-align: center;
    margin: 20px auto;
}
.section-heading h2{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 16px;
}
.container{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

/* ----------------- header -------------------- */
header{
    background: rgba(241, 3, 55, 0.1);
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .banner-text *{
    margin-bottom: 32px;
    max-width: 525px;
}
.banner .banner-text h1{
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.banner .banner-img img{
    width: 100%;
    vertical-align: middle;
}
/*------------------------------------ featured Section Start -----------------------------*/
#featured{
    padding: 100px 0;
}
.section-container{
    display: flex;
    align-items: center;
    align-items: end;
    justify-content: space-between;
}
.section-container .flowers .flowers-img{
    background-color: #f16483;
    border-radius: 300px 300px 0px 0px;
    padding: 30px 25px 0;
    height: 500px;
    display: flex;
    align-items: end;
}
.section-container .flowers .flowers-img img{
    width: 100%;
}
.section-container .flowers .pink{
    background: rgba(167, 33, 98, 0.15);
}
.section-container .flowers .blue{
    background: rgba(5, 151, 160, 0.15);
}
.section-container .flowers .green{
    background: rgba(71, 125, 17, 0.15);
}
.section-container .flowers p{
    color: #272727;
text-align: center;
margin-top: 16px;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px; /* 145.833% */
text-decoration-line: underline;
}

/*----------------- Delivary------------- */
#delivary{
    padding: 100px 0;
}
.dv{
    display: flex;
    align-items: center;
    background: rgba(39, 39, 39, 0.05);
    border-radius: 8px;
    height: 200px;
 }
 .child {
    padding: 100px; /* Adds padding inside each child */
    text-align: center;
}
.child-img img {
    max-width: 100%;
    height: 88px;
}
/*------------------------ hot-deal section ----------------------- */
#hot-deal {
    background: rgba(241, 3, 55, 0.1); 
    border-radius: 8px;
    padding: 100px 0;
}

.hot-deal-main {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

#hot-deal .hot-deal-text {
    width: 75%;
    max-width: 550px;
}

.hot-deal-text * {
    margin-bottom: 24px;
}

#hot-deal .hot-deal-text h2 {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#hot-deal .hot-deal-img {
    max-width: 318px;
}

.importien {
    color: #E55473;
}
/*--------------- section-heading Start ------------------*/
.section-heading{
    padding: 50px 0;
}
.section-heading-img {
    display: flex;           
    justify-content: space-between;
    gap: 24px;               
}
.section-heading-img .img img {
    width: 100%; 
    padding: auto;
    border-radius: 20px;
}
/* --------------------- newsletter section start ---------------*/
#newsletter{
    margin: 128px 0;
}
.newsletter-main{
    background-image: url('../Flower Asset/Rectangle 9.png');
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    padding: 122px 0;
    width: 100%;  
    color: white;   
}
#newsletter form{
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    gap: 10px;
}
#newsletter form input{
    flex-grow: 1;
    border: none;
    border-radius: 3px;
    padding: 15px;
    font-size: 20px;
    outline: none;
}


 
